<div class="panel panel-primary">
			<div class="panel-heading">Now Playing <span class="pull-right">View More</span></div>
			
				<div class="panel-body">
					<div class="row">
					  <div class="col-xs-6 col-md-3" *ngFor="let now of now_playing | slice:0:4">					  
						<div class="thumbnail">
						  <img src="https://image.tmdb.org/t/p/w300/{{now.poster_path}}" >
						  <div class="caption">
							<h3>{{now.title}}</h3>							
							<p><span class="badge badge-primary pull-right">{{now.vote_average}} <span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></p>							
							<p><a href="#" class="btn btn-default" role="button">View Details</a></p>
						  </div>
						</div>
					  </div>					  					  					  				
					</div>
				</div>			
		</div>