<div class="panel panel-primary">	
	<div class="panel-heading">{{pagetitle}}</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-md-3" *ngFor="let movie of movieDetailList">
				<div class="thumbnail">
					<img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
					<div class="caption">
						<h3>{{movie.title}}</h3>
						<p>
							<span class="badge badge-primary pull-right">{{movie.vote_average}}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							</span>
						</p>
						<p>
							<a href="#" class="btn btn-default" role="button">View
								Details</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>