<div class="panel panel-primary">			
			<div class="panel-heading">{{panetitle}} <button class="btn btn-default btn-xs pull-right" (click)= "displayMovies()">View More</button></div>
			
				<div class="panel-body">
					<div class="row">
					  <div class="col-xs-6 col-md-3" *ngFor="let top_rated of top_rated_movies | slice:0:4">					  
						<div class="thumbnail">
						  <img src="https://image.tmdb.org/t/p/w300/{{top_rated.poster_path}}" >
						  <div class="caption">
							<h3>{{top_rated.title}}</h3>							
							<p><span class="badge badge-primary pull-right">Vote {{top_rated.vote_count}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span></p>							
							<p><a  class="btn btn-default" role="button" (click)="gotoDetail(top_rated.id)">View Details</a></p>
						  </div>
						</div>
					  </div>					  					  					  				
					</div>
				</div>			
		</div>